<section class="header">
  <header>
    <div class="container header-container">
      <nav class="header-navi">
        <a class="heder-logo" href="../index.html">Green.Harvest </a>
        <ul class="nav-list">
          <li class="nav-item">How It Works</li>
          <a class="nav-link" href=""></a>
          <li class="nav-item">Vegetables</li>
          <a class="nav-link" href=""></a>
          <li class="nav-item">Reviews</li>
          <a class="nav-link" href=""></a>
        </ul>
      </nav>
      <button class="header-btn" type="button">Shop now</button>
    </div>
  </header>
</section>
