<section class="hero">
  <div class="container hero-container">
    <div class="title-container">
      <h1 class="hero-title">organic vegetables to your diet today!</h1>
      <p class="hero-txt">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <img
      class="hero-picture"
      src="../img/webp/pic-hero-desk-min.jpg"
      alt="vegetables"
    />
    <img
      class="hero-second-picture"
      src="../img/webp/pic-girl-desk-min.jpg"
      alt="girl-picture"
    />

    <div class="order-container">
      <h3 class="order-title">
        To order your vegetable basket, simply follow these easy steps
      </h3>
      <p class="order-txt">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <div class="order-cont">
        <ul class="order-list">
          <li class="order-item">
            <h4 class="order-item-numb">1</h4>
            <p class="order-item-txt">
              Just choose <span class="text-accent">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="text-accent">next to it.</span>
            </p>
          </li>
          <li class="order-item">
            <h4 class="order-item-numb">2</h4>
            <p class="order-item-txt">
              Click on <span class="text-accent">the basket</span> and fill out
              the form.
            </p>
          </li>
          <li class="order-item">
            <h4 class="order-item-numb">3</h4>
            <p class="order-item-txt">
              Sit back and relax! Your
              <span class="text-accent">fresh vegetables</span> basket will be
              delivered.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
